{% extends "label_base.html" %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('static', filename='bootstrap-datetimepicker.min.css')}}">

{% endblock %}

{% block app_content %}

<div class="card">
    <div class="card-header">
        {% if edit %}
        <h5>Edit a label</h5>
        {% else %}
        <h5>Add a label</h5>
        {% endif %}
    </div>
    <div class="card-body">
        <form id="labelform" class="form-horizontal mb-2" role="form" method="post" action="">
            {{nform.hidden_tag()}}
            <div class="form-floating mb-2">
                {% if nform.name.errors|length > 0 %}
                {{nform.name(id="name", class_="form-control is-invalid", placeholder="Name of the label" ) }}
                <label for="name">
                    {% for error in nform.name.errors %}
                    {{error}}
                    {% endfor %}
                </label>
                {% else %}
                {{nform.name(id="name", class_="form-control", placeholder="Name of the label" ) }}
                <label for="name">Name</label>
                {% endif %}
            </div>
            <div class="form-floating mb-2">
                {{nform.hint(id="hint", class_="form-control", placeholder="Description of the label" ) }}
                <label for="hint">Description</label>
            </div>
            {{ nform.submit(class_="btn btn-primary") }}
        </form>
    </div>
</div>


{% endblock %}


{% block scripts %}
{{super()}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="{{url_for('static', filename='bootstrap-datetimepicker.min.js')}}"></script>

<!-- 
    https://www.jqueryscript.net/time-clock/Date-Time-Picker-Bootstrap-4.html
-->
<script>
    $(function () {
        $('#valid').datetimepicker({
            format: 'YYYY-MM-DD HH:mm'
        });
    });


</script>

{% endblock %}