{% extends "label_base.html" %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='pagination.css')}}">
{% endblock %}

{% block app_content %}

{% from 'bootstrap5/utils.html' import render_icon %}

<div class="card">
    <div class="card-header">
        <h5>List of available labels</h5>
    </div>
    <div class="card-body">
        <form id="rolesformdelete" class="form-horizontal mb-5" role="form" method="post" action="">
            {{dform.hidden_tag()}}
            <div class="table-responsive col-lg-9 col-sm-12">
                <table class="table  table-sm table-bordered">
                    <thead>
                        <td></td>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Time stamp</td>
                        <td></td>
                    </thead>
                    {% for label in labels %}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="remove_group" value="{{label.id}}">
                            </label>
                        </td>
                        <td>{{label.id}}</td>
                        <td>{{label.name}}</td>
                        <td>{{label.hint}}</td>
                        <td>{{label.timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                        <td>
                            <a class="action-icon text-decoration-none"
                                href="{{url_for('main.label_edit', id=label.id)}}">

                            {{ render_icon('pencil-fill') }}
                            </a>
                            <a class="action-icon text-decoration-none" href="{{url_for('main.label_delete', id=label.id)}}">
                            
                                {{ render_icon('trash-fill') }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {{ dform.remove(onclick="return (ask_for_deletion())", class_="btn btn-danger") }}
        </form>
    </div>
</div>


{% endblock %}