{% extends "message_base.html" %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='pagination.css')}}">
{% endblock %}

{% block app_content %}

{% from 'bootstrap5/utils.html' import render_icon %}

<div class="card">
    <div class="card-header">
        <h5>List of available messages</h5>
    </div>
    <div class="card-body">
        <form id="rolesformdelete" class="form-horizontal mb-5" role="form" method="post" action="">
            {{dform.hidden_tag()}}
            <div class="table-responsive">
                {{ pagination.links }}
                <table class="table table-sm table-bordered">
                    <thead>
                        <td></td>
                        <td>ID</td>
                        <td>Title</td>
                        <td>Due in</td>
                        <td>Due</td>
                        <td>Severity</td>
                        <td>Label</td>
                        <td>Created</td>
                        <td></td>
                    </thead>
                    {% for msg in messages %}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="remove_group" value="{{msg.id}}">
                            </label>
                        </td>
                        <td>{{msg.id}}</td>
                        <td>{{msg.title}}</td>
                        <td style="background-color: {{msg.get_days_color()}}">{{msg.get_days()}}</td>
                        <td>{{msg.valid}}</td>
                        <!-- <td style="background-color: #eaffaf;" >{{msg.get_severity_name()}}</td>-->
                        <td style="background-color: {{msg.get_sev_color()}}">{{msg.get_severity_name()}}</td>
                        <td>{{msg.get_label_name()}}</td>
                        <td>{{msg.timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                        <td>
                            <a class="action-icon text-decoration-none" href="{{url_for('main.message_edit', id=msg.id)}}">
                                {{ render_icon('pencil-fill') }}
                            </a>
                            <a class="action-icon text-decoration-none" 
                                href="{{url_for('main.message_delete', id=msg.id)}}" 
                                onclick="return (ask_for_deletion_item('{{msg.title}}'))">
                                {{ render_icon('trash-fill') }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {{ pagination.info }}
                {{ pagination.links }}
            </div>
            {{ dform.remove(onclick="return (ask_for_deletion())", class_="btn btn-danger") }}
        </form>
    </div>
</div>

{% endblock %}