{% extends "message_base.html" %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('static', filename='bootstrap-datetimepicker.min.css')}}">

{% endblock %}

{% block app_content %}

<div class="card">
    <div class="card-header">
        {% if edit %}
        <h5>Edit a message</h5>
        {% else %}
        <h5>Add a message</h5>
        {% endif %}
    </div>
    <div class="card-body">
        <form id="usersform" class="form-horizontal mb-2" role="form" method="post" action="">
            {{nform.hidden_tag()}}

            <div class="input-group mb-2">
                <div class="form-floating flex-grow-1">
                    {% if nform.title.errors|length > 0 %}
                    {{nform.title(id="title", class_="form-control is-invalid", placeholder="message title" ) }}
                    <label for="title">
                        {% for error in nform.title.errors %}
                        {{error}}
                        {% endfor %}
                    </label>
                    {% else %}
                    {{nform.title(id="title", class_="form-control", placeholder="message title" ) }}
                    <label for="title">
                        Message title
                    </label>
                    {% endif %}
                </div>
            </div>


            <div class="input-group mb-2">
                <div class="form-floating flex-grow-1">
                    {% if nform.valid.errors|length > 0 %}
                    {{nform.valid(id="valid", class_="datetime form-control is-invalid" , placeholder="YYYY-MM-DD HH:MM") }}
                    <label for="valid">
                        {% for error in nform.valid.errors %}
                        {{error}}
                        {% endfor %}
                    </label>
                    {% else %}
                    {{nform.valid(id="valid", class_="datetime form-control" , placeholder="YYYY-MM-DD HH:MM") }}
                    <label for="valid">
                        Valid date
                    </label>
                    {% endif %}
                </div>
            </div>
            
            <div class="input-group mb-2">
                <div class="form-floating flex-grow-1">
                    <div class="form-control">
                        {% for i in nform.severity %}
                        <div class="form-check form-check-inline">
                            {{i(class_="form-check-input")}} {{i.label(class_="form-check-label")}}
                        </div>
                        {% endfor %}
                    </div>
                    <!--{{nform.severity(id="severity", class_="form-control") }}-->
                    <label for="severity">Severity</label>
                </div>
            </div>

            <div class="input-group mb-2">
                <div class="form-floating flex-grow-1">
                    {{nform.label(id="label", class_="form-select", aria_label=".form-select-lg example")}}
                    <label for="label">Label</label>
                 </div>
            </div>

            <div class="form-check form-switch">
                {{nform.send_email(id="send_email", class_="form-check-input", onclick="toggleEmail()")}}
                <label class="form-check-label" for="send_email">Send email to ... </label>
            </div>

            {% if nform.send_email.data == 1 %}
            <div id="email_block" style="display: block;">
            {% else %}
            <div id="email_block" style="display: none;">
            {% endif %}
                <div class="input-group mb-2">
                    <div class="form-floating flex-grow-1">
                        {{nform.email_body(id="email-body", class_="form-control", style="height: 500px")}}
                        <label for="email-body">Email text</label>
                    </div>
                 </div>
            </div>

            {{ nform.submit(class_="btn btn-primary") }}
        </form>
    </div>
</div>


{% endblock %}


{% block scripts %}
{{super()}}

{# need to load jquery #}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="{{url_for('static', filename='bootstrap-datetimepicker.min.js')}}"></script>

<!-- 
    https://www.jqueryscript.net/time-clock/Date-Time-Picker-Bootstrap-4.html
-->
<script>
    {% if nform.send_email.data == 1 %}
    var send_emails = true;
    {% else %}
    var send_emails = false;
    {% endif %}


    $(function () {
        $('#valid').datetimepicker({
            format: 'YYYY-MM-DD HH:mm'
        });
    });

    function toggleEmail() {
        var el = document.getElementById("email_block");

        send_emails = !send_emails;

        if (send_emails) {
            el.style.display = "block";
        }
        else {
            el.style.display = "none";
        }
    };

</script>

{% endblock %}