{% extends 'base.html' %}


{% block app_content %}


<div class="container">
	<div id="loginbox"
		class="card col-md-7 col-sm-8 mt-5">
		<div class="card-header">
			Sign In
		</div>
		<div class="card-body">
			<form id="loginform" class="form-horizontal" role="form" method="post" action="{{url_for('auth.login')}}" novalidate>
				{{ form.hidden_tag() }}
				<div class="row mb-1">
					<div class="input-group">
						<div class="input-group-text"><i class="fas fa-user"></i></span></div>
						{{form.username(id="login-username", class_="form-control", placeholder="username or email" ) }}
					</div>
				</div>
				<div class="row mb-1">
					<div class="input-group">
						<div class="input-group-text"><i class="fas fa-key"></i></div>
						{{form.password(id="login-password",class_="form-control",placeholder="password")}}
					</div>
				</div>
				<div class="row mb-1">
					<div class="input-group">
						<!--<div class="col-form-label col-sm-2"></div>-->
						<div class="form-check">
							{{form.remember_me(id="login-remember")}}
							<label class="form-check-label" for="login-remember">
								Remember me
							</label>
						</div>
					</div>
				</div>
				{{form.submit(class_="btn btn-primary", id="btn-login")}}
			</form>
		</div>
	</div>

</div>

{% endblock %}
